/* NAVIGATION */

.card-header {
    background-color: #fff;
    border-bottom-style: dashed;
}

.card-header a {
    font-size: 0.85em;
}

/* MAIN BODY */

body {
	font-size: 14px;
	font-family: "Helvetica Nueue", Arial, Verdana, sans-serif;
	background-color: #ffffff;
}

.bs-callout {
    margin: 15px 0px 10px 0px;
    padding: 20px 30px 5px 20px;
    border-left: 5px solid #eee;
}   

.bs-callout-warning {
    background-color: #343A40;
    border-color: #78D1F0;
    color: #fff;
}

.bs-callout .icon {
    float: left;
    font-size: 1.5em;
        margin-top: -2px;s
}

.bs-callout p {
    margin-left: 25px;
}

.bs-callout img {
    margin-left: 25px;
    margin-bottom: 15px;
}

.bs-callout a {
    color: #78D1F0;
}

.mainCard {
    height: 96vh;
}

.btn-block {
    background-color: #343A40;
    color: #fff;
}

/* TEXT STYLES */

p {
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
}

a {
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
}

.instruction {
    color: #999
}

/* FORM */

.form-entry {
    padding: 10px;
}

.form-group label {
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
}


