/* NAVIGATION */

.card-header {
    background-color: #F5F5F6;
}

.card-header a {
    font-size: 0.9em;
}

/* MAIN BODY */

body {
	margin-top: 10px;
	font-size: 14px;
	font-family: "Helvetica Nueue", Arial, Verdana, sans-serif;
	background-color: #ffffff;
}

.mainCard {
    height: 100%;
}

.btn-block {
    background-color: #343A40;
    color: #fff;
    margin: 20px 0px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
}

.btn-block:hover {
    background-color: #343A40;
    color: #fff;
}

.btn-block:focus {
    background-color: #343A40;
}

.dropdown-menu {
    width: 100%;
}

.cataloguepane {
    height: 450px;
    overflow-y: scroll;
    border-top-style: none;
}

/* TEXT STYLES */

p {
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
}

a {
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
}

/* FORM */

.form-entry {
    padding: 10px;
}

.form-group label {
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
}


