/* NAVIGATION */

.card-header {
    background-color: #fff;
    border-bottom-style: dashed;
}

.card-header a {
    font-size: 0.85em;
}

/* MAIN BODY */

body {
	font-size: 14px;
	font-family: "Helvetica Nueue", Arial, Verdana, sans-serif;
	background-color: #ffffff;
}

.mainCard {
    height: 96vh;
}

.bs-callout {
    margin: 15px 0px 10px 0px;
    padding: 20px 30px 5px 20px;
    border-left: 5px solid #eee;
}   

.bs-callout-warning {
    background-color: #343A40;
    border-color: #FDC20E;
    color: #fff;
}

.bs-callout .icon {
    float: left;
    font-size: 1.5em;
    margin-top: -2px;
}

.bs-callout p {
    margin-left: 25px;
}

.btn-block {
    background-color: #343A40;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
}

.btn-block:hover {
    background-color: #343A40;
    color: #fff;
}

.btn-block:focus {
    background-color: #343A40;
    color: #fff;
}

.dropdown-menu {
    width: 100%;
}

.cataloguepane {
    height: 60vh;
    overflow-y: scroll;
    border-top-style: none;
}

.applist {
    margin-top: 15px;
}

/* TEXT STYLES */

p {
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
}

a {
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
}

.instruction {
    color: #999
}

.submitter {
    margin-top: 10px;
}

.appinfo {
    margin-top: -10px;
}

/* PILLS */

.remember {
    background-color: #AA7FB8;
}

.understand {
    background-color: #6C94C4;
}

.apply {
    background-color: #78D1F0;
}

.analyse {
    background-color: #89B83F;
}

.evaluate {
    background-color: #FDC20E;
}

.create {
    background-color: #F68C1E;
}