/* NAVIGATION */

.card-header {
    background-color: #fff;
}

.card-header a {
    font-size: 0.85em;
}

/* MAIN BODY */

body {
	font-size: 14px;
	font-family: "Helvetica Nueue", Arial, Verdana, sans-serif;
	background-color: #ffffff;
}

.mainCard {
    height: 800px;
}

.bs-callout {
    margin: 15px 0px 10px 0px;
    padding: 20px 30px 5px 20px;
    border-left: 5px solid #eee;
}   

.bs-callout-info {
    background-color: #fafafa;
    border-color: #ba68c8;
}

.bs-callout .icon {
    float: left;
    font-size: 1.5em;
    margin-top: -4px;
}

.bs-callout p {
    margin-left: 25px;
}

.bs-thanks {
    display: none;
    border-color: #4db6ac;
}

.btn-block {
    background-color: #343A40;
    color: #fff;
}

.btn-block:hover {
    cursor: pointer;
}

/* TEXT STYLES */

h4 {
    margin-left: 25px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

p {
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
}

a {
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
}

.instruction {
    color: #999
}

/* FORM */

form {
    margin-top: 20px;
}

.form-group label {
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
}

/* HONEYPOT */

#honeypot {
  display: none; 
}
