/* NAVIGATION */

.card-header {
    background-color: #F5F5F6;
}

.card-header a {
    font-size: 0.9em;
}

/* MAIN BODY */

body {
	margin-top: 10px;
	font-size: 14px;
	font-family: "Helvetica Nueue", Arial, Verdana, sans-serif;
	background-color: #ffffff;
}

.bs-callout {
    margin: 10px 0px 10px 0px;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}   

.bs-callout-warning {
    background-color: #343A40;
    border-color: #78D1F0;
    color: #fff;
}

.bs-callout .icon {
    float: left;
    margin-right: 20px;
    padding-bottom: 110px;
    font-size: 1.5em
}

.mainCard {
    height: 700px;
}

.btn-block {
    background-color: #343A40;
    color: #fff;
}

/* TEXT STYLES */

p {
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
}

a {
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
}

.instruction {
    color: #999
}

/* FORM */

.form-entry {
    padding: 10px;
}

.form-group label {
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
}


