/* MAIN BODY */

body {
	margin-top: 10px;
	font-size: 14px;
	background-color: #ffffff;
}

.titlebarfront {
    height: 250px;
    padding-top: 120px;
    background-color: #343A40;
    display: flex;


background: 
    /* Top, transparent gradient */ 
    linear-gradient(
        rgba(52, 58, 64, 0.9) 0%, 
        rgba(52, 58, 64, 0.9) 95%
    ),
    /* Bottom, image */
    url(../img/officelens_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.smalllogo {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background: transparent;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-image: url(../img/officelens.jpg);
    background-size: 40px;
    background-position: 50% 20%;
    background-repeat: no-repeat;
}

.apptitle {
    color: #fff;
    margin-left: 10px;
    padding-top: 5px;
    font-family: 'Catamaran', sans-serif;
    width: 60%;
}

.cardflipper {
    height: 50px;
    text-align: center;
    background-color: #D83C18;
    color: #fff;
    padding-top: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Catamaran', sans-serif;
    font-size: 1.1em;
}

.cardflipper:hover .fa-repeat {
    animation: fa-spin 2s infinite linear;
    cursor: pointer;
}

.cardflipper:hover {
    cursor: pointer;
}

.nextcard {
    height: 55px;
    text-align: center;
    background-color: #353B40;
    color: #fff;
    padding-top: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Catamaran', sans-serif;
    font-size: 1.1em;
    border-top-style: solid;
    border-width: 1px;
}

.nextcard:hover {
    cursor: pointer;
    background-color: #D83C18;
}

.mainlogocontainer {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.details {
    height: 160px;
    background-color: #343A40;
    color: #fff;
}

hr {
    width: 90%;
    background-color: #fff;
    margin-top: 25px;
    margin-bottom: 0px;
}

/* EMBEDDED VIDEO */

.mediabackground {
    background-image: url(../img/congruent_outline.png);
}

.videocontainer {
    max-width: 560px !important; 
    max-height: 315px !important;
    margin-left: auto;
    margin-right: auto;
}

/* TEXT STYLES */

h4 {
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
}

.card-subtitle {
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
    margin-top: 5px;
    color: #fff !important;
    margin-left: 70px;
    padding-right: 40px;
    line-height: 1.2em;
}

.card-text {
    line-height: 1.7em;
    margin-left: 10px;
    margin-right: 10px;
}

p {
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
}

a {
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
}

.tool-link {
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    margin-left: 10px;
}

/* PILLS */

.tags {
    font-size: 20px;
}

.blooms-pills-main {
    padding: 30px 25px 0px 5%;
    font-family: 'Catamaran', sans-serif;
}

.blooms-pills-sub {
    padding: 0 5%;
    font-family: 'Catamaran', sans-serif;
}

.create {
    background-color: #ba68c8;
}

.connect {
    background-color: #4dd0e1;
}

.collaborate {
    background-color: #f06292;
}

.curate {
    background-color: #ffb74d;
}

.capture {
    background-color: #4fc3f7;
}

.captivate {
    background-color: #4db6ac;
}

.check {
    background-color: #90a4ae;
}

.sub {
    background-color: #90a4ae;
}

/* ATTRIBUTES */

.framework {
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: -5px;
    margin-top: -5px;
}

.thermometer {
    flex-basis: 30%;
    text-align: center;
    padding-top: 5px;
}

.thermometer2,
.thermometer3 {
    margin-top: 5px;
}

.usestext {
    flex-basis: 70%;
    padding-left: 15px;
    padding-right: 10px;
}

.frameworkheading {
    display: flex;
    flex-direction: row;
    background-color: #353B40;
    color: #fff;
    padding-top: 15px;
}

.frameworktext1 {
    text-align: center;
    flex-basis: 30%;
    margin-left: 15px;
}

.frameworktext2 {
    text-align: left;
    flex-basis: 70%;
    margin-left: 15px;
}

.thermometer1,
.usestext1 {
    margin-top: 5px;
}

.usestext1 {
}

.usestext2 {
    padding-top: 5px;
}

.usestext3 {
    padding-top: 5px;
}

.usestext2,
.usestext3 {

}
/* SUBMITTER */

.submitter {
    display: flex;
}

.submitterinfo {
    margin-top: 20px;
    margin-left: 10px;
    color: #fff;
}

.submitterimg {
    text-align: center;
    margin-top: 20px; 
    margin-left: 5%;
    font-size: 1.75em;
}

.submitterschool {
    color: #999999;
}

/* RATING */

.ratings {
    display: block;
    text-align: center;
    background-color: #343A40;
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ratings .btn {
    background-color: transparent;
    margin-bottom: 5px;
}

/* FOOTER */

.card-footer {
    background-color: #2C72B7;
    color: #fff;
}

/* FLIP */

/* Entire container, keeps perspective */
.card-container {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    margin-bottom: 30px;
}

/* Flip the pane */
.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card{
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.card-container.static:hover .card,
.card-container.static.hover .card {
	-webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
}

/* Flip speed */
.card {
	-webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
	position: relative;
}

.noborder {
    border: none;
}

/* Hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
     -o-backface-visibility: hidden;
    backface-visibility: hidden;
	position: absolute;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(51,51,51,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(51,51,51,0.5);
    box-shadow: 0px 0px 5px 0px rgba(51,51,51,0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
}

/* Front pane, placed above back */
.front {
	z-index: 2;
}

/* Back, initially hidden pane */
.back {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    z-index: 3;
}

/* Clearfix */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

/* MEDIA QUERIES */

@media (max-width: 300px) {
    .titlebarfront {
        flex-direction: column;
        height: 280px;
        padding-top: 75px;
        padding-left: 10px;
    }
    
    .apptitle {
        width: 85%;
        margin-top: 10px;
    }
    
    .framework {
        flex-direction: column;
        flex: 1;
    }
    
    .details {
        height: 250px;
    }
    
    .submitterimg {
        display: none;
    }
}

@media (max-width: 190px) {
    .titlebarfront {
        height: 320px;
    }
    
    .details {
        height: 320px;
    }
}