/* MAIN BODY */

body {
	margin-top: 10px;
	font-size: 14px;
	font-family: "Helvetica Nueue", Arial, Verdana, sans-serif;
	background-color: #ffffff;
}

.titlebarfront {
    height: 250px;
    padding-top: 125px;
    background-color: #343A40;


background: 
    /* Top, transparent gradient */ 
    linear-gradient(
        rgba(52, 58, 64, 0.9) 0%, 
        rgba(52, 58, 64, 0.9) 95%
    ),
    /* Bottom, image */
    url(../img/pocket_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    }

.smalllogo {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background: transparent;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-image: url(../img/pocket.png);
    background-size: 40px;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    border: solid 3px #fff;
}

.apptitle {
    display: inline-block;
    color: #fff;
    margin-left: 10px;
    padding-top: 5px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    width: 60%;
}

.cardflipper {
    height: 50px;
    text-align: center;
    background-color: #EF3E56;
    color: #fff;
    padding-top: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cardflipper:hover .fa-repeat {
    animation: fa-spin 2s infinite linear;
}

.mainlogocontainer {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.details {
    height: 190px;
    background-color: #343A40;
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

hr {
    width: 90%;
    background-color: #fff;
    margin-top: 25px;
    margin-bottom: 0px;
}

/* EMBEDDED VIDEO */

.mediabackground {
    background-color: #343A40;
}

.videocontainer {
    max-width: 560px !important; 
    max-height: 315px !important;
    margin-left: auto;
    margin-right: auto;
}

/* TEXT STYLES */

h4 {
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
}

.card-subtitle {
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
    margin-top: 5px;
    color: #fff !important;
    margin-left: 70px;
    padding-right: 40px;
    line-height: 1.2em;
}

.card-text {
    line-height: 1.7em;
    margin-left: 10px;
    margin-right: 10px;
}

p {
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
}

a {
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
}

.tool-link {
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    margin-left: 10px;
}

/* PILLS */

.tags {
    font-size: 20px;
}

.blooms-pills-main {
    padding: 30px 25px 0px 5%;
}

.blooms-pills-sub {
    padding: 0 5%;
}

.create {
    background-color: #ba68c8;
}

.connect {
    background-color: #4dd0e1;
}

.collaborate {
    background-color: #f06292;
}

.curate {
    background-color: #ffb74d;
}

.capture {
    background-color: #4fc3f7;
}

.captivate {
    background-color: #4db6ac;
}

.check {
    background-color: #90a4ae;
}

.sub {
    background-color: #90a4ae;
}

/* ATTRIBUTES */

.usestext1 {

    width: 100%;
    font-weight: 500;
    height: 110px;
    line-height: 1.7em;
    text-align: left;
    color: #343A40;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
}

.thermometer1 {
    float: left;
    position: relative;
    width: 20%;
    text-align: center;
    color: #343A40;
    padding-top: 5px;
    height: 110px;
    margin-top: 5px;
    margin-right: 15px;
}

.usestext2 {

    width: 100%;
    font-weight: 500;
    height: 110px;
    line-height: 1.7em;
    text-align: left;
    color: #343A40;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
}

.thermometer2 {
    float: left;
    text-align: center;
    color: #343A40;
    padding-top: 5px;
    height: 110px;
    width: 20%;
    margin-top: 5px;
    margin-right: 15px;
}

.usestext3 {

    width: 100%;
    font-weight: 500;
    height: 110px;
    line-height: 1.7em;
    text-align: left;
    color: #343A40;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    
}

.thermometer3 {
    float: left;
    text-align: center;
    color: #343A40;
    padding-top: 5px;
    height: 110px;
    width: 20%;
    margin-top: 5px;
    margin-right: 15px;
}

/* SUBMITTER */

.submitterinfo {
    width: 90%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
    color: #fff;
}

.submitterimg {
    margin-top: 20px; 
    margin-left: 5%;
    margin-right: 15px;
    font-size: 1.75em;
    float: left;
}

.submitterschool {
    color: #999999;
}

/* RATING */

.ratings {
    text-align: center;
    background-color: #343A40;
    color: #fff;
}

.ratings .btn {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* FOOTER */

.card-footer {
    background-color: #EF3E56;
    color: #fff;
}

/* FLIP */

/* Entire container, keeps perspective */
.card-container {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    margin-bottom: 30px;
}

/* Flip the pane */
.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card{
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.card-container.static:hover .card,
.card-container.static.hover .card {
	-webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
}

/* Flip speed */
.card {
	-webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
	position: relative;
}

.noborder {
    border: none;
}

/* Hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
     -o-backface-visibility: hidden;
    backface-visibility: hidden;
	position: absolute;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(51,51,51,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(51,51,51,0.5);
    box-shadow: 0px 0px 5px 0px rgba(51,51,51,0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
}

/* Front pane, placed above back */
.front {
	z-index: 2;
}

/* Back, initially hidden pane */
.back {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    z-index: 3;
}