body {
	margin-top: 10px;
	font-size: 14px;
	font-family: "Helvetica Nueue", Arial, Verdana, sans-serif;
	background-color: #ffffff;
}
.btn:hover,
.btn:focus,
.btn:active{
    outline: 0 !important;
}

/* Flip */

/* Entire container, keeps perspective */
.card-container {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
        perspective: 800px;
        margin-top: -10px;
}

/* Flip the pane when hovered */
.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card{
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.card-container.static:hover .card,
.card-container.static.hover .card {
	-webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
}

/* Flip speed */
.card {
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
	position: relative;
}

/* Hide pane during flip */
.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FFF;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.15);
}

/* Front pane, placed above back */
.front {
	z-index: 2;
    margin-top: 15px;
    min-height: inherit;
}

/* Back, initially hidden pane */
.back {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    z-index: 3;
    margin-top: 15px;
    min-height: 80%;
}

/* Embedded video */
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 
   
.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.manual-flip {
    border: 0;
}

/* Card styles */

.parentcard {
    height: 900px;
}

.card-container, .front, .back {
	width: 100%;
}

.card {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #444444;
}

.contentfront {
    margin: 0px 20px 0px 20px;
}

.contentback {
    margin: 20px 20px 0px 20px;
}

h3 {
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
}

.subtitle {
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
    margin-top: 5px;
}

p {
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
}

a {
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
}

.tool-link {
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
}

.card .name {
    font-size: 22px;
    line-height: 28px;
    margin: 20px 0 0 0;
    text-align: left;
}

.card .subtitle{
    color: #999999;
    text-align: left;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.blooms-pills {
    margin-top: 15px;
    margin-bottom: 25px;
}

/* Tag Styles */

.remember {
    background-color: #AA7FB8;
}

.understand {
    background-color: #6C94C4;
}

.apply {
    background-color: #78D1F0;
}

.analyse {
    background-color: #89B83F;
}

.evaluate {
    background-color: #FDC20E;
}

.create {
    background-color: #F68C1E;
}

/* Attributes */

.card .statsfront{
	float: left;
    display: block;
	width: 33.333333%;
	text-align: center;
    padding-top: 10px;
    color: #ffffff;
}

.card .statsfrontleft{
    background-color: #373F51;
    font-family: 'Catamaran', sans-serif;
    font-weight: 300;
}

.card .statsfrontmiddle{
    background-color: #3A506B;
    font-family: 'Catamaran', sans-serif;
    font-weight: 300;
}

.card .statsfrontright{
    background-color: #58A4B0;
    font-family: 'Catamaran', sans-serif;
    font-weight: 300;
}

.card .statsback{
	display: block;
	float: left;
	width: 33.333333%;
	text-align: center;
    padding-top: 10px;
    color: #ffffff;
}

.card .statsbackleft{
    background-color: #F62459;
}

.card .statsbackmiddle{
    background-color: #8E44AD;
}

.card .statsbackright{
    background-color: #1E8BC3;
}

/* Tooltips */

.hotspot-info {
    display: none
}

.hotspot-info {
    data-location
}

/* <div class="hotspot" style="top: 8.75%; left: 93.5%; width: 6.4%; height: 29%; background: transparent; border: 1px solid transparent; border-radius: 0px; opacity: 0.8" id="hotspot_1475858355222" data-location="top" data-template="" data-templatename="" data-opacity="0.8" data-backcolor="#000000" data-textcolor="#ffffff" data-textalign="center" data-margin="5" data-padding="10" data-width="0" data-delay="0" data-trigger="hover" data-issticky="true" data-hotspot-x="92.57602862254025" data-hotspot-y="7.114624505928854" data-hotspot-blink="false" data-hotspot-bgcolor="transparent" data-hotspot-bordercolor="transparent" data-hotspot-borderradius="0"> */

/* Footers */

.footerfront {
    text-align: center;
}

.footerback {
    margin: ;
    text-align: center;
}

.btn-simple{
    opacity: .8;
    color: #666666;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-simple:hover,
.btn-simple:focus{
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
}

.btn-simple i{
    font-size: 20px;
}

/* Social links */

.social-links{
    font-size: 18px;
    text-align: center;
    position: relative;
}
.social-links a{
    margin: 0 7px;
}

/*       Fix bug for IE      */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .front, .back{
        -ms-backface-visibility: visible;
        backface-visibility: visible;
    }

    .back {
        visibility: hidden;
        -ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
    }
    .front{
        z-index: 4;
    }
    .card-container:not(.manual-flip):hover .back,
    .card-container.manual-flip.hover .back{
        z-index: 5;
        visibility: visible;
    }
}
