/* NAVIGATION */

.card-header {
    background-color: #F5F5F6;
}

.card-header a {
    font-size: 0.9em;
}

/* MAIN BODY */

body {
	margin-top: 10px;
	font-size: 14px;
	font-family: "Helvetica Nueue", Arial, Verdana, sans-serif;
	background-color: #ffffff;
}

.titlebarfront {
    height: 80px;
    padding-top: 15px;
    background-color: #343A40;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.smalllogo {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background: transparent;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-image: url(../img/snagit.jpg);
    background-size: 40px;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    border: solid 3px #fff;
}

.apptitle {
    display: inline-block;
    color: #fff;
    margin-left: 10px;
    padding-top: 5px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    width: 60%;
}

.cardflipper {
    height: 50px;
    text-align: center;
    background-color: #2C72B7;
    color: #fff;
    padding-top: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cardflipper:hover .fa-repeat {
    animation: fa-spin 2s infinite linear;
}

.mainlogo {
    margin-top: -15px; 
}

.mainCard {
    height: 850px;
}

.details {
    height: 190px;
    background-color: #343A40;
    color: #fff;
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
}

hr {
    width: 90%;
    background-color: #fff;
    margin-top: 25px;
    margin-bottom: 0px;
}

/* EMBEDDED VIDEO */

.embed-container { 
    position: relative;
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 
   
.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

/* TEXT STYLES */

h4 {
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
}

.card-subtitle {
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
    margin-top: 5px;
}

p {
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
}

a {
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
}

.tool-link {
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}

/* PILLS */

.tags {
    font-size: 20px;
}

.blooms-pills-main {
    padding: 30px 25px 0px 5%;
}

.blooms-pills-sub {
    padding: 0 5%;
}

.remember {
    background-color: #AA7FB8;
}

.understand {
    background-color: #6C94C4;
}

.apply {
    background-color: #78D1F0;
}

.analyse {
    background-color: #89B83F;
}

.evaluate {
    background-color: #FDC20E;
}

.create {
    background-color: #F68C1E;
}

/* ATTRIBUTES */

.usestext {
    float: right;
    width: 80%;
    font-weight: 500;
    height: 100px;
    text-align: left;
    color: lightslategrey;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.thermometer {
    float: left;
    text-align: center;
    padding-top: 5px;
    height: 100px;
    width: 20%;
    margin-bottom: 20px
}

/* SUBMITTER */

.submitterinfo {
    width: 80%;
    height: 30px;
    margin: 20px 20px 0 20px;
    color: #fff;
}

.submitterimg {
    margin: 20px 40px 0 5%;
    margin-right: 15px;
    font-size: 1.75em;
    float: left;
}

.submitterschool {
    color: #999999;
}

/* RATING */

.ratings {
    text-align: center;
    background-color: #343A40;
    color: #fff;
    margin-top: -10px;
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
}

.ratings .btn {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* FOOTER */

.card-footer {
    background-color: #2C72B7;
    color: #fff;
}

/* FLIP */

/* Entire container, keeps perspective */
.card-container {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    margin-bottom: 30px;
}

/* Flip the pane */
.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card{
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.card-container.static:hover .card,
.card-container.static.hover .card {
	-webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
}

/* Flip speed */
.card {
	-webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
	position: relative;
}

.card .noborder {
    border: none;
}

/* Hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
     -o-backface-visibility: hidden;
    backface-visibility: hidden;
	position: absolute;
    margin-top: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(51,51,51,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(51,51,51,0.5);
    box-shadow: 0px 0px 5px 0px rgba(51,51,51,0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Front pane, placed above back */
.front {
	z-index: 2;
}

/* Back, initially hidden pane */
.back {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    z-index: 3;
}